In [3]:
import pandas as pd
import pandas_ta as ta
import requests
from datetime import datetime, timedelta
import nltk
from bs4 import BeautifulSoup
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [4]:
API_KEY = "QCC4AQUW1ZKX4T7P"
symbol = "TCS.BSE"

In [5]:
url = f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&outputsize=full&apikey={API_KEY}&datatype=csv"

In [6]:
response = requests.get(url)

In [7]:
# print response
if response.status_code == 200:
    with open('tcs_stock_data.csv', 'wb') as file:
        file.write(response.content)
    print("Data saved to tcs_stock_data.csv")

Data saved to tcs_stock_data.csv

In [8]:
# store the data in a pandas dataframe
df = pd.read_csv('tcs_stock_data.csv', index_col=0, parse_dates=True)

In [13]:
df.index = pd.to_datetime(df.index)
df = df.sort_index()
print(df.tail())

                 open       high        low      close  volume
timestamp
2025-06-30  3444.9500  3465.0000  3430.1499  3461.0500   80588
2025-07-01  3460.9500  3485.0000  3414.4500  3429.4500  221565
2025-07-02  3450.0500  3489.8501  3420.1001  3423.3501   54493
2025-07-03  3434.8999  3435.0000  3398.1499  3400.7500  113506
2025-07-04  3401.1001  3426.0000  3388.6499  3420.9500  170988

In [16]:
df.head()

,open,high,low,close,volume,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,EMA_20,...,DMP_14,DMN_14,OBV,BBL_5_2.0,BBM_5_2.0,BBU_5_2.0,BBB_5_2.0,BBP_5_2.0,CCI_14_0.015,ATRr_14
timestamp,,,,,,,,,,,,,,,,,,,,,
2005-03-15,181.8750,182.2500,179.3750,179.7876,1448920,66.275892,3.328701,0.502425,2.826275,174.135990,...,32.267671,8.113486,-10920688.0,173.902165,178.33752,182.772875,4.974113,0.663468,136.475123,3.531382
2005-03-16,180.0000,183.1250,180.0000,181.4564,1416680,68.709608,3.505174,0.543119,2.962055,174.833172,...,31.847303,7.549710,-9504008.0,175.086492,179.41380,183.741108,4.823829,0.736013,134.319623,3.517177
2005-03-17,180.6250,184.2500,176.2814,182.8938,2336608,70.672779,3.718156,0.604881,3.113275,175.600851,...,27.019639,13.479213,-7167400.0,177.865565,180.85632,183.847075,3.307327,0.840630,107.814914,3.842565
2005-03-18,182.4626,183.7564,178.3938,183.5126,1985600,71.501720,3.892013,0.622991,3.269023,176.354351,...,24.345072,12.144959,-5181800.0,179.251638,181.83760,184.423562,2.844254,0.823864,104.262396,3.953491
2005-03-21,183.8750,184.3750,180.3750,181.5250,1549280,65.133472,3.825318,0.445036,3.380282,176.846794,...,23.690991,11.250396,-6731080.0,179.247930,181.83508,184.422230,2.845601,0.440073,93.502189,3.956880

In [15]:
# Add multiple indicators
df.ta.rsi(append=True)                      # RSI
df.ta.macd(append=True)                     # MACD (MACDEXT style)
df.ta.ema(length=20, append=True)           # EMA20
df.ta.sma(length=50, append=True)           # SMA50
df.ta.adx(append=True)                      # ADX
df.ta.obv(append=True)                      # On Balance Volume
df.ta.bbands(append=True)                   # Bollinger Bands
df.ta.cci(append=True)                      # CCI
df.ta.atr(append=True)                      # ATR

# Clean up: Drop NaN values created by indicators (lookback periods)
df.dropna(inplace=True)

In [49]:
# Filter data from the last 3 years
cutoff_date = datetime.now() - timedelta(days=3*365)
df_recent = df[df.index >= cutoff_date]

print(df_recent.head())

                 open       high        low      close  volume      RSI  \
timestamp
2025-07-04  3401.1001  3426.0000  3388.6499  3420.9500  170988  47.6243
2025-07-03  3434.8999  3435.0000  3398.1499  3400.7500  113506  44.2725
2025-07-02  3450.0500  3489.8501  3420.1001  3423.3501   54493  47.4255
2025-07-01  3460.9500  3485.0000  3414.4500  3429.4500  221565  48.2875
2025-06-30  3444.9500  3465.0000  3430.1499  3461.0500   80588  52.9134

                 SMA        EMA  Real Upper Band  Real Middle Band  \
timestamp
2025-07-04  3434.860  3436.4619        3501.4278         3440.5700
2025-07-03  3437.185  3444.3201        3503.7413         3438.8075
2025-07-02  3438.565  3446.4134        3506.7391         3437.3675
2025-07-01  3445.995  3445.6053        3508.7152         3435.2275
2025-06-30  3450.900  3442.1954        3510.5360         3432.5075

            Real Lower Band
timestamp
2025-07-04        3379.7122
2025-07-03        3373.8737
2025-07-02        3367.9959
2025-07-01        3361.7398
2025-06-30        3354.4790

In [50]:
def get_news_headlines(keyword="TCS", num_days=30):
    headlines = {}

    for i in range(num_days):
        date = datetime.now() - timedelta(days=i)
        formatted_date = date.strftime('%Y-%m-%d')
        
        # Google News RSS (can filter date later)
        url = f"https://news.google.com/rss/search?q={keyword}+when:{i}d"
        r = requests.get(url)
        soup = BeautifulSoup(r.content, features="html.parser")
        items = soup.findAll("item")

        headlines[formatted_date] = [item.title.text for item in items]

    return headlines

In [51]:
def compute_daily_sentiment(headlines_dict):
    analyzer = SentimentIntensityAnalyzer()
    sentiment_scores = {}

    for date, titles in headlines_dict.items():
        scores = [analyzer.polarity_scores(title)['compound'] for title in titles]
        avg_score = sum(scores) / len(scores) if scores else 0
        sentiment_scores[date] = avg_score

    return sentiment_scores

In [ ]:
headline_data = get_news_headlines("Reliance Industry", num_days=365*3)
sentiment_scores = compute_daily_sentiment(headline_data)

sentiment_df = pd.DataFrame(list(sentiment_scores.items()), columns=['Date', 'Sentiment'])
sentiment_df['Date'] = pd.to_datetime(sentiment_df['Date'])
sentiment_df.set_index('Date', inplace=True)

c:\Users\DELL\AppData\Local\Programs\Python\Python310\lib\site-packages\bs4\builder\__init__.py:545: XMLParsedAsHTMLWarning: It looks like you're parsing an XML document using an HTML parser. If this really is an HTML document (maybe it's XHTML?), you can ignore or filter this warning. If it's XML, you should know that using an XML parser will be more reliable. To parse this document as XML, make sure you have the lxml package installed, and pass the keyword argument `features="xml"` into the BeautifulSoup constructor.
  warnings.warn(

In [ ]:
sentiment_df.head(40)

            Sentiment
Date
2025-07-05   0.162220
2025-07-04   0.290021
2025-07-03   0.212865
2025-07-02   0.158436
2025-07-01   0.075857
2025-06-30   0.096871
2025-06-29   0.084752
2025-06-28   0.100479
2025-06-27   0.100479
2025-06-26   0.113123
2025-06-25   0.121628
2025-06-24   0.123902
2025-06-23   0.134349
2025-06-22   0.136068
2025-06-21   0.126340
2025-06-20   0.132787
2025-06-19   0.127857
2025-06-18   0.117590
2025-06-17   0.125710
2025-06-16   0.134147
2025-06-15   0.123800
2025-06-14   0.119781
2025-06-13   0.130779
2025-06-12   0.111276
2025-06-11   0.137778
2025-06-10   0.152494
2025-06-09   0.154377
2025-06-08   0.178744
2025-06-07   0.192457
2025-06-06   0.197939
2025-06-05   0.177737
2025-06-04   0.171707
2025-06-03   0.168424
2025-06-02   0.163050
2025-06-01   0.174399
2025-05-31   0.167605
2025-05-30   0.161562
2025-05-29   0.154964
2025-05-28   0.154964
2025-05-27   0.156244